<ion-view id="pokeDetails">  
    <ion-nav-title>{{'titulo2' | translate}} </ion-nav-title>
        <ion-content class="fondo">
             <div><button class="boton-share" ng-click="shareAnywhere2();"></button></div>          
                <div class="titulo">
                    <l1>{{'tit_name' | translate}} {{pokemon.name | mayuscula}}</l1>
                </div>
                <div class="fondo-img">
                    <div id="evol" class="infoleft border">
                       <img ng-src="img/pokemons/{{pokemon.id}} copia-min.png">
                    </div>
                </div>
                <div class="titulo tit-margen">
                    <l1>{{'descripcion' | translate}}</l1>
                </div>
                <div class="infoRight border">
                    <p>{{pokemon.descrip}}</p>
                </div>

                <div class="infoleft2 border">
                    <div class="col-left">
                        <h5>{{'altura' | translate}}</h5>
                        <h5>{{'especie' | translate}}</h5>
                        <h5>{{'peso' | translate}}</h5>
                        <h5>{{'habilidad' | translate}}</h5>
                        <h5>{{'tipo' | translate}}</h5>
                        <h5>{{'grupo' | translate}}</h5>
                    </div>
                    <div class="col-right">
                        <h5>{{pokemon.height | translate}}</h5>
                        <h5>{{pokemon.species | translate}}</h5>
                        <h5>{{pokemon.weight | translate}}</h5>
                        <h5>
                            <span ng-repeat="ability in pokemon.abilities">{{ability | translate}}
                                <span ng-hide="$last">/</span>
                            </span>
                        </h5>
                        <div class="types"> 
                            <h5 ng-repeat="types in pokemon.type" class="border type-{{types | lowercase}}">{{types | translate}}</h5>
                        </div>
                        <h5><span ng-repeat="egg in pokemon.egg_groups">{{egg | translate}}
                                <span ng-hide="$last">/</span>
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="infoRight2 border">
                    <h5 class="estilo">{{'punto_base' | translate}}</h5>
                    <div class="col-left">
                        <h5>{{'PS' | translate}}</h5>
                        <h5>{{'ataque' | translate}}</h5>
                        <h5>{{'defensa' | translate}}</h5>
                        <h5>{{'ataq_esp' | translate}}</h5>
                        <h5>{{'def_esp' | translate}}</h5>
                        <h5>{{'velocidad' | translate}}</h5>
                    </div>
                    <div class="col-barra">
                        <div class="progress-bar">
                            <div ng-style="percentageStyle1" ng-class="addClass"></div>
                        </div>
                         <div class="progress-bar">
                            <div ng-style="percentageStyle2" ng-class="addClass"></div>
                        </div>
                        <div class="progress-bar">
                            <div ng-style="percentageStyle3" ng-class="addClass"></div>
                        </div>
                         <div class="progress-bar">
                            <div ng-style="percentageStyle4" ng-class="addClass"></div>
                        </div>
                         <div class="progress-bar">
                            <div ng-style="percentageStyle5" ng-class="addClass"></div>
                        </div>
                         <div class="progress-bar">
                            <div ng-style="percentageStyle6" ng-class="addClass"></div>
                        </div>
                    </div> 
                    <div class="col-right" >
                        <h5>{{pokemon.stats.hp}}</h5>
                        <h5>{{pokemon.stats.attack}}</h5>
                        <h5>{{pokemon.stats.defense}}</h5>
                        <h5>{{pokemon.stats.sp_atk}}</h5>
                        <h5>{{pokemon.stats.sp_def}}</h5>
                        <h5>{{pokemon.stats.speed}}</h5>
                    </div> 
                </div>
                <!-- <div><img ng-src="{{imag}}"></div>   -->
        </ion-content>
</ion-view>