<ion-view view-title="PokeQuiz" id="pokemons">    
    <ion-content class="fondo">
        <ion-list>
            <div class="titulo">
                <l1>{{'titulo1' | translate}}</l1>
            </div>
            <form name="myForm" novalidate>
                <ion-item class="margen">
                    <h2>{{'pregunta1' | translate}}</h2>
                        <label class="col col-100 item item-input border2" ng-class="{'has-errors' : myForm.nombre.$invalid  && !myForm.nombre.$pristine}">
                        <div class = "input-label">{{'nombre' | translate}}</div>
                            <input type="text" ng-model="quiz.nombre" name="nombre" style="text-transform: uppercase;" required ng-pattern="/^(\D)+$/">
                        </label>
                    <p ng-show="myForm.nombre.$error.pattern" style="color:red; padding-top:1%;">{{'message_error' | translate}}</p>
                </ion-item>
                <ion-item class="margen">
                    <h2>{{'pregunta2' | translate}}</h2>
                    <div class="row">
                        <label class="col col-50 item item-input item-select border2" ng-class="{'has-errors' : myForm.dia.$invalid && !myForm.dia.$pristine}">
                            <div class = "input-label">{{'dia' | translate}}</div>
                            <select name="dia" ng-model="quiz.dia" ng-value="dia" ng-change="verificar(quiz.mes)" ng-init="dia=dias[0]" ng-options="dia for dia in dias" required>
                            </select>
                        </label>
                        <div class="marg-label"></div>
                        <label class="col col-50 item item-input item-select border2" ng-class="{'has-errors' : myForm.mes.$invalid && !myForm.mes.$pristine}">
                        <div class = "input-label">{{'mes' | translate}}</div>
                            <select name="mes" ng-model="quiz.mes" ng-init="1" ng-change="verificar(quiz.mes)" required>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </label>
                        </div>
                    <div ng-show="message2" class="row">
                        <p style="color:red; padding-top:1%;">{{message2}}</p>
                    </div>
                </ion-item>
                 <ion-item class="margen">
                    <h2>{{'pregunta3' | translate}}</h2>
                    <div class="border2" ng-class="{'has-errors' : myForm.color.$invalid && !myForm.color.$pristine}">
                         <div class="row"> 
                            <label class="col checkbox chek checkbox-calm" ng-repeat="color in colores1">{{color.name | translate}}
                                <input type="radio" name="color" id="color" ng-value="color.valor" ng-model="data.color.valor" ng-checked="exists(color.name, lista)" required/>
                            </label>
                        </div>
                        <div class="row">    
                            <label class="col checkbox chek checkbox-calm" ng-repeat="color in colores2">{{color.name | translate}}
                                <input type="radio" name="color" id="color" ng-value="color.valor" ng-model="data.color.valor" ng-checked="exists(color.name, lista)" required/>
                            </label>
                        </div>
                    </div>
                    <div ng-show="(myForm.nombre.$invalid && !myForm.nombre.$pristine) || (myForm.dia.$invalid && !myForm.dia.$pristine) || (myForm.mes.$invalid && !myForm.mes.$pristine) || (myForm.color.$invalid && !myForm.color.$pristine)" class="error" ng-class=" {'oculto': message}">
                        <i class="ion-information-circled"></i>{{'message_error2' | translate}}
                    </div>
                    <div ng-show="message" class="error" ng-class=" {'oculto':(myForm.nombre.$valid && myForm.dia.$valid && myForm.mes.$valid && myForm.color.$valid), 'mostrar':(myForm.nombre.$valid && myForm.dia.$valid && myForm.mes.$valid && myForm.color.$valid && message2)}">
                    <i class="ion-information-circled"></i>
                    {{ message | translate}}</div>


                </ion-item>
                <div class="col col-100" style="text-align:center;">
                    <input type="button" class="boton" ng-click="enviar(myForm)"> 
                </div>
            </form>
        </ion-list>
    </ion-content>
</ion-view>

  
